<html>
  <head>
    <title>Gif画像検索君</title>
  </head>
  <body>
    <h1>Gif画像検索君</h1>
    <form method='GET'>
      <input type='text' name='q' value=<%=q%> />
      <input type='submit' value='検索' />
    </form>
    <ul>
      <%=images%>
    </ul>
  </body>
</html>
